<div>
  <form action="" [formGroup]="testForm">
    <div>
      <label for="">Name</label>
      <input type="text" formControlName="name">
    </div><br>
    <div>
      <label for="">Taxes Id</label>
      <input type="text" formControlName="taxes_id">
    </div><br>
    <div>
      <label for="">Units Id</label>
      <input type="text" formControlName="units_id">
    </div><br>
    <div>
      <label for="">Base</label>
      <input type="text" formControlName="base">
    </div><br>
    <div>
      <label for="">is perishable</label>
      <input type="radio" formControlName="is_perishable" value="true">
    </div><br>
    <div>
      <label for="">is negative</label>
      <input type="checkbox" formControlName="is_negative" value="true">
    </div><br>
    
    <div formGroupName="item_details">
      <div>
        <label for="">price</label>
        <input type="text" formControlName="price">
      </div><br>
      <div>
        <label for="">hsn code</label>
        <input type="text" formControlName="hsn_code">
      </div><br>
      <div>
        <label for="">min</label>
        <input type="text" formControlName="min">
      </div><br>
      <div>
        <label for="">max</label>
        <input type="text" formControlName="max">
      </div><br>
      <div>
        <label for="">Branches id </label>
        <input type="text" formControlName="Branches_id">
      </div><br>

    </div>

    <div>
      <label for="">Branches id </label>
      <input type="text" formControlName="category_ids">
    </div><br>

    <button (click)="onSubmit()">Submit</button>


  </form>
</div>
<router-outlet></router-outlet>
